{% extends 'base.html.twig' %}

{% block title %}Hello ToDoController!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Hello,  {{ app.user.username }}! ✅</h1>   
    {% else %}
        <h1>Hello, stranger</h1>
    {% endif %}
{% endblock %}
