{% extends 'base.html.twig' %}


{% block body %}
<div style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
    <div style="display: flex;">
        <div class="row h-100 w-100">
            <div class="col-3 overflow-auto" style="background-color: #202124; height: 760px;">
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
                <div class="d-grid gap-2" style="margin-bottom: 10px;"><button class="btn btn-outline-warning">hello</button></div>
            </div>
            <div class="col-9" style="background-color: #202124; height: 760px;">
                <div class="row h-75 overflow-auto">
                    hello
                </div>
                <div class="row h-25">
                    <textarea name="" id="" cols="30" rows="7"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}