{% extends 'base.html.twig' %}

{% block title %}Hello ToDoController!{% endblock %}

{% block body %}
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            {% if app.user %}
                <h1>Hello,  {{ app.user.username }}! ✅</h1>   
            {% else %}
                <h1>Hello, stranger</h1>
            {% endif %}
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}